@charset "utf-8";

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?2damrp');
    src:    url('../fonts/icomoon.eot?2damrp#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.ttf?2damrp') format('truetype'),
            url('../fonts/icomoon.woff?2damrp') format('woff'),
            url('../fonts/icomoon.svg?2damrp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\f003";
}
.icon-photo:before {
    content: "\f083";
}
.icon-github:before {
    content: "\f09b";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-microsoft:before {
    content: "\f17a";
}
.icon-weibo:before {
    content: "\f18a";
}
.icon-steam:before {
    content: "\f1b7";
}
.icon-qq:before {
    content: "\f1d6";
}
.icon-wechat:before {
    content: "\f1d7";
}
.icon-football:before {
    content: "\f1e3";
}



@media only screen
{
  html
  {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 481px)
{
  html
  {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 321px)
{ 
  html 
  {
    font-size: 14px; 
  } 
}

@media only screen and (max-width: 320px)
{ 
  html 
  {
    font-size: 12px; 
  } 
}

body
{
  color: #fff;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  background-color: #000;
  padding-top:80px;
}

#logo
{
  margin: 20px;
}

#navbar
{
  width: 100%;
  height: 80px;
  background-color: #222222;
  font-size: 0.6rem;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  border: none;
  margin: 0;
}

a.navbar-brand
{
  padding: 0;
}

#navbar-collapse
{
  padding: 15px;
  border: none;
}

@media (max-width: 767px)
{
  #navbar-collapse
  {
    padding: 15px;
    background-color: rgba(34,34,34,0.7);
    border: none;
  }
}

.navbar-toggle
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  margin: 20px 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a
{
  color: #fff;
  margin: 0 5px;
  border-radius: 10px;
          transition: background 1s;
     -moz-transition: background 1s;
  -webkit-transition: background 1s;
       -o-transition: background 1s;
}

.navbar-default .navbar-nav>li>a:visited
{
  color: #fff;
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a:hover
{
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}
.navbar-default .navbar-nav>li>a:active
{
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
  color: #fff;
  background-color: #000;
}

@media(min-width: 768px)
{
  .dropdown:hover .dropdown-menu
  {
    display: block;
  }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
  color: #fff;
}

.dropdown-menu
{
  border-radius: 10px;
  background-color: #000;
}

.dropdown-menu>li>a
{
  color: #fff;
  padding: 8px 5px;
}

#background
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

#count
{
  position: absolute;
  left: 8%;
  top: 5%;
  width: 84%;
  height: 90%;
  padding: 4% 0;
  text-align: center;
  display: block;
  background-color: rgba(0,0,0,0.4);
}

#info
{
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}

#copyright
{
  font-size: 0.4rem;
  text-align: center;
}

.con-ico
{
  width: 50px;
  height: 50px;
  margin: 0;
}

.title
{
  padding-top:0.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#contactme
{
  font-size: 0.8rem;
  line-height: 1.5rem;
}

p>a:link, p>a:visited
{
  color: #fff;
  text-decoration: none;
}

p>a:active, p>a:hover
{
  color: #99ccff;
  text-decoration: none;
  -webkit-transition: color 0.5s;
          transition: color 0.5s;
}

#aboutme
{
  list-style: none;
  padding: 0;
  font-size: 0.6rem;
  line-height: 1rem;
  cursor: default;
}

#collegelink:link, #collegelink:visited
{
  color: #6666ff;
  text-decoration: none;
}

#collegelink:active, #collegelink:hover
{
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.5s;
          transition: color 0.5s;
  cursor: help;
}

#gamelink:link, #gamelink:visited, #gamelink:active, #gamelink:hover
{
  color: #fff;
  text-decoration: none;
  cursor: default;
}

#highsch
{
  width: 100%;
  height: 1.2rem;
  font-size: 0.7rem;
  overflow: hidden;
  cursor: default;
  -webkit-transition: height 1s;
          transition: height 1s;
}

#highsch:hover
{
  height: 2.8rem;
}

#highsch a
{
  cursor: help;
}

#college
{
  width: 100%;
  height: 1.2rem;
  font-size: 0.7rem;
  overflow: hidden;
  cursor: default;
  -webkit-transition: height 2s;
          transition: height 2s;
}

#college:hover
{
  height: 3.6rem;
}

@media(max-width: 320px)
{
  #college:hover
  {
    height: 4rem;
  }
}

#college a
{
  cursor: help;
}

.hide-edu
{
  color: #fff;
  font-size: 0.5rem;
  text-indent: 1.5em;
  line-height: 0.5rem;
}

#work1
{
  width: 100%;
  height: 1.2rem;
  font-size: 0.7rem;
  overflow: hidden;
  cursor: default;
  -webkit-transition: height 2s;
          transition: height 2s;
}

#work1:hover
{
  height: 3.6rem;
}

@media(max-width: 320px)
{
  #work1:hover
  {
    height: 4rem;
  }
}

#work1 a
{
  cursor: help;
}
.hide-work
{
  color: #fff;
  font-size: 0.5rem;
  text-indent: 1.5em;
  line-height: 0.5rem;
}

#aboutmun
{
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
  cursor: default;
  table-layout: fixed;
}

.subtitle
{
  font-size: 0.75rem;
}

.text-divider
{
  color: #fff;
  font-size: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
}

.text-left
{
  width: 75%;
}

.text-right
{
  width: 25%;
}