@charset "utf-8";
body
{
  padding-top:80px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

#navbar
{
  width: 100%;
  height: 80px;
  background-image: url(../img/headerBG.png);
  font-size: 16px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  border: none;
}

a.navbar-brand
{
  padding: 0;
}

#navbar-collapse
{
  padding: 15px;
  border: none;
}

@media (max-width: 767px)
{
  #navbar-collapse
  {
    padding: 15px;
    background-color: rgba(54,100,139,0.5);
    border: none;
  }
}

.navbar-toggle
{
  margin: 20px 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
  color: #fff;
  background-color: rgba(54,100,139,0.5);
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a
{
  color: #fff;
  margin: 0 5px;
  border-radius: 10px;
          transition: background 1s;
     -moz-transition: background 1s;
  -webkit-transition: background 1s;
       -o-transition: background 1s;
}

.navbar-default .navbar-nav>li>a:visited
{
  color: #fff;
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a:hover
{
  color: #fff;
  background-color: rgba(54,100,139,0.5);
  border-radius: 10px;
}
.navbar-default .navbar-nav>li>a:active
{
  color: #fff;
  background-color: rgba(54,100,139,0.5);
  border-radius: 10px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
  color: #fff;
  background-color: rgba(54,100,139,0.5);
}

@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a
  {
    color: #fff;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu
{
  border-radius: 10px;
  background-color: rgba(54,100,139,0.7);
}

.dropdown-menu>li>a
{
  padding: 8px 5px;
  color: #fff;
}